body{
  margin: -8px;
  padding: none;
}

main{
  background: url(../images/your_verse_hero.jpg) 0 0 no-repeat;
  background-size: auto 100% ;
  background-size: cover;
  background-position-y: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  min-height: 500px;
}

main .nav{
  display: flex;
  width: 100%;
  margin-bottom: 30%;
}

.nav a{
  flex: 1;
  text-decoration: none;
  color: aliceblue;
  border-left: 1px solid black;
  text-decoration: none;
  padding: 10px 50px;
  background-color: rgb(80, 80, 80);
  background: linear-gradient(rgba(255, 255, 255, 0.404),rgb(80, 80, 80),rgba(255, 255, 255, 0.404));
}

.seach{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px 10px;
  border-left: 1px solid black;
  background-color: rgb(80, 80, 80);
  background: linear-gradient(white,black,white);
}
.logo{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 7px 50px;
  background-color: rgb(80, 80, 80);
  background: linear-gradient(white,black,white);
}
input{
  background:url(../images/search.png) 0 0 no-repeat;
  background-color: rgb(75, 75, 75);
  width: 80px;
  border-radius: 10px;
}

.write{
width: 100%;
font-size: 30px;
color: bisque;
text-align: center;
margin-top: -20%;
line-height: 30px;
font-weight: lighter;
}

footer{
  display: flex;
  flex-direction: column;
}

.footer {
display: flex;
margin: -10px;
}

.footer img{
  width: 25%;
}

.bottom{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bottom div{
  width: 30%;
  font-size: 12px;
  line-height: 20px;
}